textblob_de==0.4.3
pandas==1.0.1
nltk==3.4.5
pymongo==3.10.1
spacy==2.2.3
gensim==3.8.1
numpy==1.22.0
matplotlib==3.2.0
requests==2.22.0
tweepy==3.8.0
beautifulsoup4==4.9.0
pyLDAvis==2.1.2
scikit_learn==0.22.2.post1
